#header
{
  min-height: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: $transparent-linear-gradient, $feature-color;
  color: $light-shade;

  text-shadow: $drop-shadow;
}