#content
{
  section
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $golden-ratio;
    background: $transparent-linear-gradient, $light-shade;
  
    div.content
    {
      max-width: 60rem;
    }

  }
}

#projects
{
  background: $transparent-linear-gradient, $feature-color !important; 
  color: $light-shade;

  text-shadow: $drop-shadow;
}

#contact
{
  /* FILLER */
  box-sizing: border-box;
}

#contact input[type=text],  #contact textarea
{
  width: 100%;
  padding: 0.8rem;
  border: 1px solid $light-shade;
  border-radius: 4px;

  margin-top: 0.4rem;
  margin-bottom: 1rem;
  resize: vertical;
}

#contact input[type=submit]
{
  background-color: $feature-color;
  color: $light-shade;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#contact input[type=submit]:hover
{
  background: $transparent-linear-gradient, $feature-color !important; 
}