#header
{
  min-height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: $transparent-linear-gradient, $feature-color;
  color: $light-shade;

  text-shadow: $drop-shadow;
}

#header h1
{
  font-size: $golden-ratio * 3;

  margin: 0;
}

#header svg
{
  width: 8rem;
  height: 8rem;
  filter: drop-shadow($drop-shadow);
}

#header svg path
{
  fill: $light-shade
}