#footer
{
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: $golden-ratio * 2;

  background: $transparent-linear-gradient, $feature-color;
  color: $light-shade;

  text-shadow: $drop-shadow;
}