#nav
{
  display: flex;
  align-items: center;
  min-height: $golden-ratio * 2;
  background: $feature-color;
  position: sticky;
  top: 0;
  z-index: 100;
}

#nav svg
{
  width: 2rem;
  height: auto;
  fill: $light-shade;
  filter: drop-shadow($drop-shadow);
}
 
#nav a
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light-shade;
  
  text-decoration: none;
  min-width: 5rem;
  text-shadow: $drop-shadow;

  
}

#nav a:hover
{
  text-decoration: underline;
}