#nav {
    display: flex;
    align-items: center;
    padding: 0 ($phi * 0.5rem);
    min-height: ($phi * 2rem);
    background: $color-primary;
    position: sticky;
    top: 0;
    z-index: 100;

    svg {
        width: 2rem;
        height: auto;
        fill: $color-light;
        filter: drop-shadow($shadow);
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-light;

        text-decoration: none;
        min-width: 5rem;
        text-shadow: $shadow;

        :hover {
            text-decoration: underline;
        }
    }
}
