#nav
{
    display: flex;
    align-items: center;
    padding: 0 $golden-ratio * 0.5;
    min-height: $golden-ratio * 2;
    background: $primary-color;
    position: sticky;
    top: 0;
    z-index: 100;

    svg
    {
        width: 2rem;
        height: auto;
        fill: $light-shade;
        filter: drop-shadow($drop-shadow);
    }

    a
    {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $light-shade;

        text-decoration: none;
        min-width: 5rem;
        text-shadow: $drop-shadow;

        :hover
        {
        text-decoration: underline;
        }
    }
}