@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");

$color-primary: #65486a;
$color-secondary: #3f324a;
$color-highlight: #dcae16;

$color-light: #f8f7f1;
$color-dark: #37354a;

$color-info: #36354a;
$color-success: #549058;
$color-warning: #d18020;
$color-danger: #f44336;

$shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
$gradient: 0deg, rgba(0, 0, 0, 0.2) 5%, rgba(255, 255, 255, 0) 95%;

$phi: 1.618;

$breakpoint-mobile: max-width(499px);
$breakpont-tablet: min-width(500px) and max-width(999px);
$breakpoint-desktop: min-width(1000px);

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: ($phi * 1rem);
    margin: 0;
    color: $color-light;
    background-color: $color-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    font-size: ($phi * 1rem);
    margin: ($phi * 1rem) 0;
}

h1 {
    font-size: ($phi * 3rem);
}

h2 {
    font-size: ($phi * 2rem);
}

h3 {
    font-size: ($phi * 1.4rem);
}

h4 {
    font-size: ($phi * 1.2rem);
}

@media ($breakpoint-mobile) {
}
@media ($breakpont-tablet) {
}
@media ($breakpoint-desktop) {
}
