@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');

$primary-color: #65486A;
$secondar-ycolor: #3f324a;
$highlight-color: #dcae16;
$light-shade: #f8f7f1;
$dark-shade: #37354a;

$info-color:#36354a;
$success-color:#549058;
$warning-color: #d18020;
$danger-color: #f44336;

$drop-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
$transparent-linear-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 5%, rgba(255,255,255,0) 95%);

$golden-ratio: 1.618rem;

html
{
  box-sizing: border-box;
}

*, *:before, *:after
{
  box-sizing: inherit;
}

body
{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: $golden-ratio;
  margin: 0;
  color: $dark-shade;
  background-color: $light-shade;
}

h1, h2, h3, h4, h5, h6
{
  font-weight: 300;
  font-size: $golden-ratio;
  margin: $golden-ratio 0;
}

h1
{
  font-size: $golden-ratio * 3;
}

h2
{
  font-size: $golden-ratio * 2;
}

h3
{
  font-size: $golden-ratio * 1.4;
}

h4
{
  font-size: $golden-ratio * 1.2;
}