section#about
  header
    h2 about
  div
    | Hi, I'm Claire. I Code. Blah blah blah.
section#projects
  header
    h2 projects
  div
    | Hi, I'm Claire. I Code. Blah blah blah.
section#contact
  header
    h2 contact
  div
    .container
      form(action="action_page.php")
        label(for="name") Name
        input#name(type="text" name="name" placeholder="Your name")
        label(for="email") Email
        input#email(type="text" name="email" placeholder="Your email address")
        label(for="subject") Subject
        textarea#subject(name="subject")
        input(type="submit" value="Submit")
