doctype html
html(lang="en-AU")
    head
        include partials/_site_head.pug
    body
        nav(id="nav")
            include partials/_site_nav.pug
        header(id="header")
            include partials/_index_header.pug
        main(id="content")
            include partials/_index_main.pug
        footer(id="footer")
            include partials/_site_footer.pug